###> idea ###
/.idea/
###< idea ###

###> vendor ###
/vendor/
###< vendor ###

###> composer ###
/composer.lock
###< composer ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###